@font-face {
    font-family: "NotoBold";
    src: url("assets/fonts/NotoSansKR-Bold.otf") format("opentype");
}
@font-face {
    font-family: "NotoRegular";
    src: url("assets/fonts/NotoSansKR-Regular.otf") format("opentype");
}
@font-face {
    font-family: "NotoThin";
    src: url("assets/fonts/NotoSansKR-Thin.otf") format("opentype");
}

* {
    font-family: "NotoRegular", sans-serif;
}
b {
    font-family: "NotoBold", sans-serif;
}