@font-face {
    font-family: "NotoBold";
    src: url("assets/fonts/NotoSansKR-Bold.otf") format("opentype");
}
@font-face {
    font-family: "NotoRegular";
    src: url("assets/fonts/NotoSansKR-Regular.otf") format("opentype");
}
@font-face {
    font-family: "NotoThin";
    src: url("assets/fonts/NotoSansKR-Thin.otf") format("opentype");
}

* {
    font-family: "NotoRegular", sans-serif;
}
b {
    font-family: "NotoBold", sans-serif;
}
body {
    /*모달이 화면 밖으로 이동시 스크롤바가 생기는 현상 해결*/
    overflow: hidden;
    color: #111111;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}